.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.cards-container__arrow-left {
  left: -71px;
  background-color: var(--background-light);
  background-image: url(../../../img/arrow-left.svg);
}

.cards-container__arrow-right {
  right: -71px;
  background-color: var(--background-light);
  background-image: url(../../../img/arrow-right.svg);
}

.forecast-switcher__arrow-button {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  margin: 0 5px;
  top: 53px;
  transition: transform 0.3s ease;
}

.forecast-switcher__arrow-button:not(.disabled):hover {
  background-color: var(--background-light);
  transform: scale(1.3);
}
