.light-theme {
  --background-light: #fff;
  --background-dark: #e5e5e5;

  --text-main: #48484a;
  --text-secondary: #acacac;
  --text-small: #acacac;

  --switcher-border: #acacac;
  --switcher-moon: #48484a;

  --search-history-choosen: #e6e6e6;
}
