@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
@import './normalize.css';
@import './themes/light-theme.css';
@import './themes/dark-theme.css';
@import './loadingAnimation.css';

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text-main);
  box-sizing: border-box;
}

.content {
  display: flex;
  min-height: 100vh;
}

@media (max-width: 833px) {
  .content {
    display: flex;
    align-items: center;
    min-width: 375px;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
