.additional-info {
  width: 100%;
  padding: 38px 120px 45px 138px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}

/* forecast-switcher */

.forecast-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.forecast-switcher {
  margin-bottom: 34px;
}

.switcher {
  display: flex;
}

.title {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 19px;
}

.title-forecast {
  font-size: 24px;
  margin-right: 25px;
}

.title-week,
.title-hour {
  font-size: 20px;
  font-weight: 700;
  margin-top: 2px;
  border: 0;
  background-color: transparent;
  color: #acacac;
  transition: color 0.3s ease;
  cursor: pointer;
}

.title-week {
  margin-right: 17px;
}

/* switcher */
.forecast-week,
.forecast-hour {
  display: none;
}

.bolder {
  color: #48484a;
  position: relative;
}

.bolder::after {
  content: '';
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #48484a;
  transform-origin: left;
}

/* Cards */
.cards-container,
.choosen {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 721px;
  margin-left: 1px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 143px;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px 14px 13px 15px;
  background-position: center 24px;
}

.card-title {
  font-size: 14px;
  margin: 0 auto;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-info > * {
  font-size: 13px;
}

.card-info > .max {
  font-size: 14px;
}

.card-info > .min {
  font-size: 13px;
  color: #d3d3d3;
}

.forecast-hour > .card > .card-info {
  justify-content: center;
}

.fog {
  background-image: url(../img/weather-states/fog.png);
}

.rain {
  background-image: url(../img/weather-states/rain.png);
}

.storm {
  background-image: url(../img/weather-states/storm.png);
}

/* Buttons and arrows*/
.arrow-button {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  margin: 0 5px;
  top: 53px;
  transition: transform 0.3s ease;
}

.arrow-left {
  opacity: 0.4;
  left: -71px;
  background-color: #fff;
  background-image: url(../img/arrow-right.svg);
  transform: scaleX(-1);
}

.arrow-right {
  right: -71px;
  background-color: #fff;
  background-image: url(../img/arrow-right.svg);
}

.arrow-button:hover {
  background-color: #fff;
  transform: scale(1.3);
}

/* details for today */
.details-for-today {
  width: 100%;
}

.details-for-today-title > h2 {
  font-size: 24px;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 721px;
  padding-left: 2px;
}

.detail {
  width: 320px;
  margin-top: 14px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 19px;
}

.detail-title {
  font-weight: 400;
  margin-bottom: 2px;
}

.detail-info {
  margin-bottom: -5px;
}

.detail-info > .value {
  font-size: 64px;
  font-weight: 900;
}

.detail-info > .unit {
  font-size: 36px;
  font-weight: 400;
}

.detail-wind,
.detail-humidity {
  height: 181px;
}

.detail-visibility,
.detail-pressure {
  margin-top: 18px;
}

.detail-visibility > .detail-title,
.detail-pressure > .detail-title {
  margin-bottom: 11px;
}

.detail-pressure > .detail-info > .unit {
  font-size: 18px;
}

.detail-visibility > .detail-info,
.detail-pressure > .detail-info {
  margin-bottom: 17px;
}

.wind-direction {
  display: flex;
  align-items: center;
  margin-left: 11px;
}

.wind-direction > .direction-img {
  background-image: url(../img/wind-direction.svg);
  width: 38px;
  height: 38px;
  margin-left: 3px;
}

.wind-direction > .direction {
  margin-left: 11px;
  padding-top: 4px;
}

/* Media for adaptive */

/* i-pad */

@media (min-width: 1439px) {
  .cards-container .card:nth-child(n + 7) {
    display: none;
  }
}

@media (min-width: 834px) and (max-width: 1439px) {
  .additional-info {
    padding: 55px 0 55px 10px;
    overflow: auto;
  }

  .forecast-switcher {
    margin-bottom: 35px;
  }

  .forecast-switcher > .title {
    margin-bottom: 20px;
  }

  .details-for-today-title {
    margin-left: 2px;
    margin-bottom: 20px;
  }

  .details-container {
    width: 100%;
    flex-direction: column;
    margin-left: 14px;
  }

  .detail {
    margin-bottom: 27px;
    margin-top: 0px;
  }

  .cards-container {
    width: 350px;
  }

  .cards-container .card:nth-child(n + 4) {
    display: none;
  }

  .arrow-button {
    top: 50px;
  }

  .arrow-left {
    opacity: 0.4;
    left: -55px;
  }

  .arrow-right {
    right: -57px;
  }
}

/* i-phone */

@media (max-width: 833px) {
  .additional-info {
    height: 100%;
    width: 100%;
    padding: 46px 0px 0px 0px;
    display: flex;
    flex-direction: column;
  }

  .forecast-panel {
    justify-content: flex-start;
    padding: 0 50px;
  }

  .forecast-switcher {
    margin-bottom: 25px;
  }

  .forecast-switcher > .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-forecast {
    margin-left: 24px;
    margin-bottom: 21px;
  }

  .switcher {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .cards-container {
    padding: 21px 6px 0 3px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .card {
    margin: 0 5px 30px 5px;
  }

  .arrow-button {
    display: none;
  }

  .details-for-today-title {
    margin: 0 0 11px 7px;
  }

  .details-for-today-title > h2 {
    text-align: center;
  }

  .details-container {
    width: 100%;
    flex-direction: column;
    align-content: center;
    padding-right: 3px;
  }

  .detail {
    width: 314px;
    margin-bottom: 29px;
  }

  .detail-visibility,
  .detail-pressure {
    margin-top: -2px;
  }
}
